/*------------------------------- LINEA DEL TIEMPO ----------------------------------*/
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background: #f4f4f4;
}
.tit{
    color: red;
    font-size: 40px;
    text-align: center;
    margin-top: 10px;
}
/*---------------------------------seccion 4----------------------------------*/
.image-description {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}
.image-description img {
    width: 500px;
    height: 300px;
    border-radius: 8px;
    flex: 1;
}
.image-description .description {
    margin-left: 20px;
    flex: 2;
}
.image-description .description h3 {
    margin-top: 0;
}
.justify-text {
    text-align: justify;
}